/* * *  * * *  * * *  * * *  * * *
Ta naloga je sestavljena iz dveh delov: HTML in CSS.
Prvi del je v datoteki dokument.html.
Pri točkovanju bomo upoštevali, ali (in do kakšne mere) je 
izvorna koda dokumenta veljaven in urejen CSS.

1. naloga 
  Dodajte izbiralec (selektor) za element h2.
  V njegov sklop deklaracij dodajte deklaracijo za zgornji zunanji rob,
  ki naj bo širok 3em.
2. naloga
  Sklop deklaracij za sode vrstice dopolnite z deklaracijo za 
  barvo ozadja, ki naj bo rgb(225, 127, 74, 0.2).
  Sklop deklaracij za celice v prvem stolpcu dopolnite tako,
  da bo besedilo v prvem stolpcu tabele krepko.
 * * *  * * *  * * *  * * *  * * */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  max-width: 40em;
  margin: auto;
  text-align: justify;
  color: #0c1445;
}

a { color: rgb(225, 127, 74) }

h1 {
  margin-top: 3em;
  color: rgb(225, 127, 74);
}

.slika {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid rgb(225, 127, 74);
  border-bottom: 1px solid rgb(225, 127, 74);
}
.slika p {
  font-size: 0.7em;
  text-align: right;
  font-style: italic;
  margin: 0.5em 0 1em 0;
}

/* Oblikovanje tabele */

table {
  margin: 1em auto;
  border-spacing: 0px;
  margin-bottom: 5em;
}
th { text-align: left; }
th, td { padding: 0.2em 2em}
tr:nth-child(even) { 
  background-color: rgb(225, 127, 74, 0.2);
 }
td:first-child { 
  font-weight: bold;
 }

/* Oblikovanje seznama */

ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset: item;
}
 
ol>li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}
 
ol>li:before {
  font-weight:bold;
  content: counter(item) ". teorija: ";
}

h2{
  margin-top: 3em;
}